<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b2c2275a-c3f3-4251-adb8-fcff5adcbd3a/resourcegroups/IzinYonetim20200207102607ResourceGroup/providers/Microsoft.Web/sites/IzinYonetim20200207102607</ResourceId>
    <ResourceGroup>IzinYonetim20200207102607ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://izinyonetim20200207102607.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <IsLinux>true</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>cd899a97-31a7-402d-9b4c-a813577dbaf5</ProjectGuid>
    <MSDeployServiceURL>waws-prod-bay-081.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IzinYonetim20200207102607</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IzinYonetim20200207102607</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>